In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
#def Merge_in_Pandas():
    
    #import packages 
    #import pandas as pd
    #import numpy as np
    
    #read in the datasets
    #Training = pd.read_csv('train.csv')
    #Ideal = pd.read_csv ('ideal.csv')
    
    #merge in pandas
    #df = pd.merge(Training, Ideal, on = 'x')
    
    #return df

In [3]:
Training = pd.read_csv('train.csv')
Ideal = pd.read_csv ('ideal.csv')

df = pd.merge(Training, Ideal, on = 'x')

In [4]:
df.head()

,x,y1_x,y2_x,y3_x,y4_x,y1_y,y2_y,y3_y,y4_y,y5,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,40.215690,0.755265,19.881090,800.02094,-0.912945,0.408082,9.087055,5.408082,-9.087055,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,40.379227,0.809859,20.308237,791.93540,-0.867644,0.497186,9.132356,5.497186,-9.132356,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,39.607777,1.246826,20.367115,784.16560,-0.813674,0.581322,9.186326,5.581322,-9.186326,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,39.252636,0.775174,19.370686,776.31165,-0.751573,0.659649,9.248426,5.659649,-9.248426,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,39.924540,0.185780,19.780146,768.57574,-0.681964,0.731386,9.318036,5.731386,-9.318036,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902

In [9]:
var = df
print(sys.getsizeof(var))

179216

In [5]:
sys.getsizeof(df)

179216

In [6]:
var = 2

In [7]:
sys.getsizeof(var)

28

In [8]:
var = df
print(sys.getsizeof(var))

179216

In [5]:
from datetime import datetime

In [7]:
#time taken to perform the merge with pandas
start_time = datetime.now()

mergedPandas = pd.merge(Training, Ideal, on = 'x')

time_elapsed = datetime.now() - start_time

print ('Time elapsed (hh:mm:ss.ms){}'.format(time_elapsed))

Time elapsed (hh:mm:ss.ms)0:00:00.005135

In [ ]:
from datetime import datetime
start_time = datetime.now()

mergedPandas = pd.merge(Training_data, Ideal_data, on = 'X')

time_elapsed = datetime.now() - start_time

print ('Time elapsed (hh:mm:ss.ms){}'.format(time_elapsed))